html {
  width: 900px;
  margin: 8px auto;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
}

.concept-list {
  margin-bottom: 64px;
}

.query {
  margin-bottom: 64px;
}

.query-name {
  font-size: 20px;
  font-weight: bold;
}

.bogl-code {
  font-family: Courier-New, monospace;
  background: #f0f0f0;
  padding: 8px;
  border-radius: 8px;
}

.tray {
  padding: 8px;
  background: #fafafa;
}

.button {
  display: inline-block;
  margin: 4px;
  padding: 4px;
  border: solid 1px #000;
  border-radius: 8px;
  min-width: 40px;
  text-align: center;
}
